<div class="h-full flex flex-col gap-3">
  <div class="grid grid-cols-3 gap-3">
    <!-- CARD -->
    <div
      class="card rounded-xl h-[15vh] flex flex-row justify-between p-7 gap-2"
    >
      <div class="flex flex-col gap-3">
        <span class="text-2xl font-bold">Trump Sentiment</span>
        <span class="text-5xl font-bold">12%</span>
      </div>
      <i
        class="pi pi-angle-double-up text-8xl ml-2"
        style="color: var(--p-primary-green)"
      ></i>
    </div>
    <!-- CARD -->
    <div
      class="card rounded-xl h-[15vh] flex flex-row justify-between p-7 gap-2"
    >
      <div class="flex flex-col gap-3">
        <span class="text-2xl font-bold">Biden Sentiment</span>
        <span class="text-5xl font-bold">-3%</span>
      </div>
      <i
        class="pi pi-angle-double-down text-8xl ml-2"
        style="color: var(--p-primary-orange)"
      ></i>
    </div>
    <!-- CARD -->
    <div
      class="card rounded-xl h-[15vh] flex flex-row justify-between p-7 gap-2"
    >
      <div class="flex flex-col gap-3">
        <span class="text-2xl font-bold">Overall Sentiment</span>
        <span class="text-5xl font-bold">-5%</span>
      </div>
      <i
        class="pi pi-angle-double-down text-8xl ml-2"
        style="color: var(--p-primary-orange)"
      ></i>
    </div>
  </div>
  <div class="card rounded-xl p-7 h-full">
    <p-chart
      type="line"
      [data]="data"
      [options]="options"
      class="h-full w-full"
    />
  </div>
</div>
