<div class="h-full flex flex-col gap-3">
  <div class="grid grid-cols-3 gap-3">
    <!-- CARD -->
    <div
      class="card rounded-xl h-[15vh] flex flex-row justify-between p-7 gap-2"
    >
      <div class="flex flex-col gap-3">
        <span class="text-2xl font-bold">Trump Sentiment</span>
        <span class="text-5xl font-bold"
          >{{ changeTracker().trumpChange }}%</span
        >
      </div>
      <i
        [class]="
          changeTracker().trumpChange < 0
            ? 'pi pi-angle-double-up up'
            : 'pi pi-angle-double-down down'
        "
        class="text-8xl ml-2"
      ></i>
    </div>
    <!-- CARD -->
    <div
      class="card rounded-xl h-[15vh] flex flex-row justify-between p-7 gap-2"
    >
      <div class="flex flex-col gap-3">
        <span class="text-2xl font-bold">Biden Sentiment</span>
        <span class="text-5xl font-bold"
          >{{ changeTracker().bidenChange }}%</span
        >
      </div>
      <i
        [class]="
          changeTracker().bidenChange < 0
            ? 'pi pi-angle-double-up up'
            : 'pi pi-angle-double-down down'
        "
        class="text-8xl ml-2"
      ></i>
    </div>
    <!-- CARD -->
    <div
      class="card rounded-xl h-[15vh] flex flex-row justify-between p-7 gap-2"
    >
      <div class="flex flex-col gap-3">
        <span class="text-2xl font-bold">Overall Sentiment</span>
        <span class="text-5xl font-bold"
          >{{ changeTracker().totalChange }}%</span
        >
      </div>
      <i
        [class]="
          changeTracker()!.totalChange < 0
            ? 'pi pi-angle-double-up up'
            : 'pi pi-angle-double-down down'
        "
        class="text-8xl ml-2"
      ></i>
    </div>
  </div>
  <div class="card rounded-xl p-7 h-full">
    <p-chart
      type="line"
      [data]="data"
      [options]="options"
      class="h-full w-full"
    />
  </div>
</div>
