<div class="h-full flex flex-col gap-3">
  <div class="grid grid-cols-3 gap-3">
    <app-card [loading]="loading()">
      <span cardTitle>Trump Sentiment</span>
      <span cardValue>{{ changeTracker().trumpChange }}%</span>
      <i
        [class]="changeTracker().trumpChange > 0 ? iconEnum.up : iconEnum.down"
        class="text-8xl ml-2"
        [@highlight]="animation() ? 'newTweet' : 'normal'"
        cardInfo
      ></i>
    </app-card>
    <app-card [loading]="loading()">
      <span cardTitle>Biden Sentiment</span>
      <span cardValue>{{ changeTracker().bidenChange }}%</span>
      <i
        [class]="changeTracker().bidenChange > 0 ? iconEnum.up : iconEnum.down"
        class="text-8xl ml-2"
        [@highlight]="animation() ? 'newTweet' : 'normal'"
        cardInfo
      ></i>
    </app-card>
    <app-card [loading]="loading()">
      <span cardTitle>Overall Change</span>
      <span cardValue>{{ changeTracker().totalChange }}%</span>
      <i
        [class]="changeTracker().totalChange > 0 ? iconEnum.up : iconEnum.down"
        class="text-8xl ml-2"
        [@highlight]="animation() ? 'newTweet' : 'normal'"
        cardInfo
      ></i>
    </app-card>
  </div>
  <div class="card rounded-xl p-7 h-full">
    @if(loading()){
    <div class="h-full w-full flex items-center justify-center">
      <i class="pi pi-spin pi-spinner" style="font-size: 5rem"></i>
    </div>
    }@else{
    <p-chart
      type="line"
      [data]="timelineChart().data!"
      [options]="timelineChart().options!"
      class="h-full w-full"
    />
    }
  </div>
</div>
