@if(comparisonData()){
<div class="h-full flex flex-col gap-3">
  <div class="grid grid-cols-3 gap-3">
    <app-card [loading]="loading()">
      <span cardTitle>Total Tweets</span>
      <span cardValue>{{
        numberPipe.transform(comparisonData().total_tweets)
      }}</span>
      <p-chart type="pie" #tweetPieChart [data]="tweetPieConfig()" cardInfo />
    </app-card>
    <app-card [loading]="loading()">
      <span cardTitle>Avg Sentiment</span>
      <span cardValue>{{ comparisonData().avg_sentiment }}</span>
      <p-chart type="pie" #sentimentPieChart [data]="sentimentPieConfig()" cardInfo />
    </app-card>
    <app-card [loading]="loading()">
      <span cardTitle>Interaction count</span>
      <div class="flex gap-5" cardValue>
        <div>
          <span class="text-4xl font-bold">{{
            numberPipe.transform(comparisonData().all_likes)
          }}</span>
          <i
            class="pi pi-heart-fill text-4xl red ml-3"
            [@highlight]="animation() ? 'newTweet' : 'normal'"
          ></i>
        </div>
        <div>
          <span class="text-4xl font-bold">{{
            numberPipe.transform(comparisonData().all_retweets)
          }}</span>
          <i
            class="pi pi-undo text-4xl ml-3"
            [@highlight]="animation() ? 'newTweet' : 'normal'"
          ></i>
        </div>
      </div>
    </app-card>
  </div>
  <div class="card rounded-xl p-7 h-full">
    @if(loading()){
    <div class="h-full w-full flex items-center justify-center">
      <i class="pi pi-spin pi-spinner" style="font-size: 5rem"></i>
    </div>
    }@else{
    <p-chart type="bar" #binChart [data]="binChartConfig()" />
    }
  </div>
</div>
}
