<div class="p-3 pb-0 flex flex-cols justify-between">
  <span class="text-2xl font-bold">{{ tooltipData().name }}</span>
  <img
    src="../../../../assets/images/united-states.png"
    class="h-8 w-8"
    alt=""
  />
</div>
<div class="grid grid-cols-3 flex w-full items-center text-lg gap-2 p-3">
  <span class="font-bold">Candidate</span>
  <span class="font-bold text-center">Sentiment</span>
  <span class="font-bold text-right">Amount</span>
  <div>
    <i class="pi pi-circle-fill mr-2" style="color: var(--p-primary-red)"></i>
    <span>Trump</span>
  </div>
  <div class="flex justify-center">
    <span
      class="text-center rounded-lg w-[40px]"
      [style]="
        tooltipData().trumpSentiment > 0
          ? 'background: var(--p-primary-green)'
          : 'background: var(--p-primary-orange)'
      "
      >{{ tooltipData().trumpSentiment }}</span
    >
  </div>
  <span class="text-right">{{
    numberPipe.transform(tooltipData().trumpAmount)
  }}</span>
  <div>
    <i class="pi pi-circle-fill mr-2" style="color: var(--p-primary-blue)"></i>
    <span>Biden</span>
  </div>
  <div class="flex justify-center">
    <span
      class="text-center rounded-lg w-[40px]"
      [style]="
        tooltipData().bidenSentiment > 0
          ? 'background: var(--p-primary-green)'
          : 'background: var(--p-primary-orange)'
      "
      >{{ tooltipData().bidenSentiment }}</span
    >
  </div>
  <span class="text-right">{{
    numberPipe.transform(tooltipData().bidenAmount)
  }}</span>
  <div>
    <i class="pi pi-circle-fill mr-2"></i>
    <span>Overall</span>
  </div>
  <div class="flex justify-center">
    <span
      class="text-center rounded-lg w-[40px]"
      [style]="
        tooltipData().sentiment > 0
          ? 'background: var(--p-primary-green)'
          : 'background: var(--p-primary-orange)'
      "
      >{{ tooltipData().sentiment }}</span
    >
  </div>
  <span class="text-right">{{
    numberPipe.transform(tooltipData().trumpAmount + tooltipData().bidenAmount)
  }}</span>
</div>
