:host ::ng-deep {
  .custom-tooltip {
    background-color: var(--p-primary-100);
    color: var(--p-primary-500);
    padding: 5px;
    border-radius: 5px;
  }

  .tooltip-sentiment,
  .tooltip-blue,
  .tooltip-red {
    font-size: 12px;
    height: 2px;
    width: 2px;
    border-radius: 2px;
  }

  .tooltip-sentiment {
    background-color: var(--p-primary-500);
    color: var(--p-primary-500);
  }

  .tooltip-blue {
    background-color: var(--p-primary-blue);
    color: var(--p-primary-blue);
  }

  .tooltip-red {
    background-color: var(--p-primary-red);
    color: var(--p-primary-red);
  }
}
