<div class="flex flex-col gap-4 p-4 rounded-xl tweet">
  <div class="flex justify-between">
    <div class="flex items-center gap-2">
      <i class="pi pi-user"></i><span> &#64;{{ tweet().userName }}</span>
    </div>
    <div class="flex gap-3">
      <div class="flex items-center gap-2">
        <span> {{ tweet().retweetCount}} </span><i class="pi pi-undo"></i>
      </div>
      <div class="flex items-center gap-2">
        <span>{{ tweet().likes }} </span><i class="pi pi-heart-fill" style="color: red"></i>
      </div>
    </div>
  </div>
  <div>
    {{ tweet().tweet }}
  </div>
  <div class="flex justify-between">
    @switch (tweet().candidate) { @case ('trump') {
    <div class="flex gap-2"><p-tag value="# Trump" class="trump" /></div>
    } @case ('biden') {
    <div class="flex gap-2"><p-tag value="# Biden" class="biden" /></div>
    } @default {
    <div class="flex gap-2">
      <p-tag value="# Trump" class="trump" /><p-tag
        value="# Biden"
        class="biden"
      />
    </div>
    } }

    <div><p-tag [value]="tweet().sentimentScore" /></div>
  </div>
</div>
