:host ::ng-deep   {
    .biden {
        background: blue !important;
        color: white;
    }
    .trump {
        background: red !important;
        color: white;
    }
}

.tweet {
    background: var(--p-primary-100);
}